.app-container {
  min-height: 100vh;
  background-color: #2b2c49;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
}

.card {
  background-color: #303150;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}
.card h2 {
  color: #fff;
  margin-bottom: 20px;
}
.card p {
  color: #fff;
  margin-bottom: 30px;
}
.card button {
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.card button:hover {
  background-color: #ff4c4c;
}
